.home-page-container {
    background: linear-gradient(40deg, #5939DA, #9F338E, #EE1F2F);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}