.coin-details-container {
    width: 570px;
    background-color: $card-primary-background-color;
    color: $primary-text-color;
    border-radius: .7rem;
    padding: 2rem;

    .inner-container {
        display: flex;
        flex-direction: column;
        background-color: $card-secondary-background-color;
        border-radius: .7rem;

        .header {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
            font-size: 1.2rem;
            padding: 1rem;

            .updated-price-container {
                display: flex;
                align-items: center;
                gap: .7rem;
                width: 100%;

                h1 {
                    font-size: 1.4rem;
                }
            }

            h2 {
                font-size: .7rem;
                font-weight: 600;
                color: $secondary-text-color;
            }
        }
    }
}