.timeline-change-container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .3rem;
    font-size: .8rem;
    font-weight: 600;
    color: $secondary-text-color;
    padding: 1rem;

    span {
        cursor: pointer;

        &.selected {
            color: $primary-text-color;
        }
    }
}