$primary-text-color: white;
$secondary-text-color: #4A4A4A;
$primary-background-gradient : linear-gradient(40deg, #5939DA, #9F338E, #EE1F2F);
$card-primary-background-color : #242329;
$card-secondary-background-color : #1A1A1A;
