//Background colors
$primary-background-color: #ffffff;
$secondary-background-color: #f5f5f5;
$primary-background-hover-color: #dcdfec;
$inverted-color-background: #323338;
$grey-background-color: #eceff8;
$allgrey-background-color: #f6f7fb;

// color to make vars for : 
// #4A4A4A
// #1A1A1A
// #242329
// background: linear-gradient(40deg, #5939DA, #9F338E, #EE1F2F);